* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

:root {
  --primary-green: #3bd688d3;
  --primary-green-gradient: linear-gradient(to bottom, #349d67, #44af78, #54c289, #64d59a, #74e8ac);
  --primary-blue: #222b3c;
}

.one {
  background: url("./assets/bg-home.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.left-div div > * {
  margin-bottom: 25px;
}

.get-quote div input {
  height: 35px;
  margin-top: 30px;
  padding-left: 5px;
  
}

input::placeholder {
  color: rgb(185, 180, 180);
}
input{
    outline: none;
    border: none;
}
input:focus{
    outline: none;  border: none;
    
}
input:active{
    outline: none;  border: none;
}
input:hover{
    outline: none;  border: none;
}


textarea{
    border: none;
            border-bottom: 1px solid var(--primary-blue);
            padding: 5px;
            width: 100%; /* Ensure the textarea takes up the full width of the container */
            box-sizing: border-box; /* Include padding and border in the element's total width and height */
}


textarea:focus{
    outline: none;
}

textarea:active{
    outline: none;
}
